{% extends "base.html.twig" %}

{% block body %}
    <ul class="list-group">
        <li class="list-group-item">
            Pseudo : {{ pseudo }}
        </li>
        <li class="list-group-item">
            MDP : {{ mdp }}
        </li>
    </ul>
{% endblock %}