{% extends "base.html.twig" %}

{% block body %}
    <h2>Afficher le contenu d'un tableau</h2>
    <p>Nom : {{ tableau.nom }}</p>
    <p>Prénom : {{ tableau.prenom }}</p>

    <p>Pour accéder à une valeur d'un tableau associatif ou à une propriété d'un objet, j'utilise l'opérateur <mark>.</mark> dans Twig</p>
{% endblock %}